*~
examples/*~
gap/*~
experiments/*~
sandbox/*~
tst/*~
tst/*.tmp
doc/*.html
doc/*.txt
doc/hmac.aux
doc/hmac.bbl
doc/hmac.blg
doc/hmac.idx
doc/hmac.ilg
doc/hmac.ind
doc/hmac.log
doc/hmac.out
doc/hmac.pnr
doc/hmac.toc
doc/manual.pdf
doc/manual.six


